<!doctype html5>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">

  <head>

    <link rel="icon" href="./favicon.ico?v=2" />

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="Election Fighter" content="Tired of elections dominating the headlines? Now you can fight back">

    <title>Election Fighter</title>

    <meta name="Election Fighter" content="Now you can fight back" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Election Fighter - Now you can Fight Back">

    <!-- Open Graph data -->
    <meta property="og:title" content="Election Fighter - Now you can Fight Back" />
    <meta property="og:type" content="game" />
    <meta property="og:url" content="http://www.electionfighter.com/" />
    <meta property="og:image" content="http://www.electionfighter.com/image/electionfighter.png" />
    <meta property="og:description" content="Tired of elections dominating the headlines? Now you can fight back" />

<!--    
    <link rel="apple-touch-icon" sizes="57x57" href="/image/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/image/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/image/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/image/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/image/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/image/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/image/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/image/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/image/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/image/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/image/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/icon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#010111">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
-->

    <meta name="theme-color" content="#010111">

    <style>
      html, body {
        background-color: #010111 ;
        color: #999 ;
        font-size: 36px;
      }

      div {
        background: url('./image/loading.gif');
        background-repeat: no-repeat;
        background-size: contain;
        width:50%;
        height:100%;
        margin: auto;
      }

      canvas, img, div { 
          image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
          image-rendering: -moz-crisp-edges;          /* Firefox                        */
          image-rendering: -o-crisp-edges;            /* Opera                          */
          image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
          image-rendering: pixelated;                 /* Chrome */
          image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
          -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
      }    
    </style>

  </head>

  <body>

    <script src="src/build.js"></script>
    <script src="src/Object.assign.js"></script>

    <script src="game/src/city_level.js"></script>
    <script src="game/src/fantasy_level.js"></script>
    <script src="game/src/space_level.js"></script>
    <script src="game/src/gameHelper.js"></script>

    <script src="game/src/buttonpress.js"></script> 
    
    <script src="load/src/load_game.js"></script>
    <script src="load/src/player_select.js"></script>

    <script src="src/module/audioHelper.js"></script>  
    <script src="src/module/vizHelper.js"></script>
    <script src="src/module/imageHelper.js"></script>
    <script src="src/module/spriteHelper.js"></script>
    <script src="src/module/itemHelper.js"></script>  
    <script src="src/module/drawHelper.js"></script>
    <script src="src/module/audioLoader.js"></script>
    <script src="src/module/imageLoader.js"></script>
    <script src="src/module/collisionDetect.js"></script>
    <script src="src/module/actionHelper.js"></script>
    <script src="src/module/hitHelper.js"></script>
    <script src="src/module/bumpHelper.js"></script>
    <script src="src/module/effectHelper.js"></script>
    <script src="src/module/imageEffectHelper.js"></script>
    <script src="src/module/transitionHelper.js"></script>    
    <script src="src/module/inputEvent.js"></script>  
    <script src="src/module/scoreHelper.js"></script>
    <script src="src/module/powerupHelper.js"></script>
    <script src="src/module/responseHelper.js"></script>
    <script src="src/module/fighterHelper.js"></script>
    <script src="src/module/bulletHelper.js"></script>
    <script src="src/module/playerHelper.js"></script>

    <script src="src/animation/transition_sequence.js"></script>
    <script src="src/animation/animate.js"></script>
    <script src="src/animation/animate_loop.js"></script>
    <script src="src/animation/step_transition_func.js"></script>
    <script src="src/animation/add_transition_end.js"></script>

    <script src="src/image/hidpi_adjust.js"></script> 
    <script src="src/image/get_image_data.js"></script>    
    <script src="src/image/image2index.js"></script>
    <script src="src/image/set_canvas_position.js"></script>
    <script src="src/image/place_viz.js"></script>
    <script src="src/image/bg_clear.js"></script>
    <script src="src/image/new_image_data.js"></script>

    <script src="src/setup/setup_element.js"></script>

    <!-- load the main.js script after all the other .js files have been loaded to run the vizualization: -->
    <script src="src/main.js"></script> 

    <div id="loading"></div>

    <script>

        function fullscreen() {

            var elem;
            elem = document.body.parentNode ;
            
            if (elem.requestFullscreen) {
              return elem.requestFullscreen() ;
            } else if (elem.msRequestFullscreen) {
              return elem.msRequestFullscreen() ;
            } else if (elem.mozRequestFullScreen) {
              return elem.mozRequestFullScreen() ;
            } else if (elem.webkitRequestFullscreen) {
              return elem.webkitRequestFullscreen() ;
            }

            document.removeEventListener('click', fullscreen) ;

        }

        document.addEventListener('click', fullscreen) ;

    </script>

  </body>

</html>